{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": 0
  }
}
